<!doctype html>
<html>
    <head>
        <title>Hello from Flask</title>
        <script
            data-main="/static/main"
            src="/static/require.min.js"
            integrity="sha256-Ae2Vz/4ePdIu6ZyI/5ZGsYnb+m0JlOmKPjt6XZ9JJkA="
            crossorigin="anonymous">
        </script>
        <link
            rel="stylesheet"
            href="/static/bootstrap.min.css"
            integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
            crossorigin="anonymous"
            />
        <style>
            html, body {
                height: 100vh;
            }
            .ipywidgets-server-contents-container {
                height: 95vh;
                padding-top: 5vh;
            }
            #result {
                margin-top: auto;
                margin-bottom: auto;
            }
        </style>
    </head>
    <body>
        {{ widgets|ipywidget_state }}
        {{ slider1|ipywidget_view }}
        {{ slider2|ipywidget_view }}
        <div class="container fill d-flex flex-column align-items-stretch ipywidgets-server-contents-container">
            <div id="ipywidget-server-errors"></div>
            <div id="ipywidget-server-result"></div>
        </div>
    </body>
</html>